.container {
    display: grid;
    text-align: center;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6c2eb9;
    font-weight: bolder;
    font-size: 40px;
    background-image: url('../imgs/backgrondPaper.png');
    background-size: 2em;
    border-top: 0.1em solid rgb(204, 94, 94);
    border-bottom: 0.1em solid rgb(245, 110, 110);
    border-radius: 100%;
    font-size: 2.2em;
    text-shadow: rgb(139, 49, 49) 2px 2px 5px;
}


/* Tabla1 */

h2 {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-radius: 1em;
    color: blueviolet;
    background-color: rgb(202, 165, 236);
}

.tabla1 {
    width: 50%;
    border: 0.1em solid black;
    margin: auto;
    background-color: rgb(183, 204, 243);
    display: grid;
    line-height: 3em;
    border: 0.4em outset rgb(81, 164, 185);
    border-radius: 0.3em;
}

.Tabla1 {
    display: grid;
    border: 0.1em solid rgb(81, 164, 185);
}

.item1 {
    background: rgb(63, 251, 189);
    background: radial-gradient(circle, rgba(63, 251, 189, 1) 0%, rgba(137, 44, 224, 1) 100%);
    grid-column-start: 1;
    grid-column-end: 4;
    width: 99.4%;
    border-color: rgb(137, 44, 224);
    margin-left: -1px;
    margin-top: -1px;
}

.item2 {
    background: rgb(63, 251, 189);
    background: radial-gradient(circle, rgba(63, 251, 189, 1) 0%, rgba(137, 44, 224, 1) 100%);
    width: 100%;
    border-color: blueviolet;
    margin-left: -1px;
    margin-top: -1px;
    margin-bottom: -1px;
}

.item3 {
    background: rgb(63, 251, 189);
    background: radial-gradient(circle, rgba(63, 251, 189, 1) 0%, rgba(137, 44, 224, 1) 100%);
    width: 100%;
    border-color: blueviolet;
    margin-left: 1px;
    margin-top: -1px;
    margin-bottom: -1px;
}

.item4 {
    background: rgb(63, 251, 189);
    background: radial-gradient(circle, rgba(63, 251, 189, 1) 0%, rgba(137, 44, 224, 1) 100%);
    width: 99.%;
    border-color: blueviolet;
    margin: -1px -1px -1px 1px;
}


/* Tabla2 */

.tabla2 {
    width: 50%;
    border: 0.1em solid black;
    margin: auto;
    background-color: rgb(183, 204, 243);
    display: grid;
    line-height: 3em;
    border: 0.4em outset rgb(81, 164, 185);
    border-radius: 0.3em;
    
}

.Tabla2 {
    display: grid;
    align-items: center;
}

.item21 {
    background: rgb(63, 251, 189);
    background: radial-gradient(circle, rgba(63, 251, 189, 1) 0%, rgba(137, 44, 224, 1) 100%);
}

.item22 {
    background: rgb(63, 251, 189);
    background: radial-gradient(circle, rgba(63, 251, 189, 1) 0%, rgba(137, 44, 224, 1) 100%);
    grid-column-start: 2;
    grid-column-end: 4;
}

.item23 {
    background: rgb(63, 251, 189);
    background: radial-gradient(circle, rgba(63, 251, 189, 1) 0%, rgba(137, 44, 224, 1) 100%);
    grid-row-start: 2;
    grid-row-end: 5;
}

.item24 {
    background: rgb(63, 251, 189);
    background: radial-gradient(circle, rgba(63, 251, 189, 1) 0%, rgba(137, 44, 224, 1) 100%);
}

.item25 {
    background: rgb(63, 251, 189);
    background: radial-gradient(circle, rgba(63, 251, 189, 1) 0%, rgba(137, 44, 224, 1) 100%);
}

.item26 {
    background: rgb(63, 251, 189);
    background: radial-gradient(circle, rgba(63, 251, 189, 1) 0%, rgba(137, 44, 224, 1) 100%);
}

.item27 {
    background: rgb(63, 251, 189);
    background: radial-gradient(circle, rgba(63, 251, 189, 1) 0%, rgba(137, 44, 224, 1) 100%);
}

.item28 {
    background: rgb(63, 251, 189);
    background: radial-gradient(circle, rgba(63, 251, 189, 1) 0%, rgba(137, 44, 224, 1) 100%);
}

.item29 {
    background: rgb(63, 251, 189);
    background: radial-gradient(circle, rgba(63, 251, 189, 1) 0%, rgba(137, 44, 224, 1) 100%);
}


/* Tabla3 */

.tabla3 {
    width: 50%;
    height: 75%;
    border: 0.1em solid black;
    margin: auto;
    background-color: rgb(183, 204, 243);
    display: grid;
    line-height: 3em;
    border: 0.4em outset rgb(81, 164, 185);
    color: rgb(28, 43, 179);
    font-weight: bolder;
    font-size: 1.2em;
    text-shadow: rgb(230, 13, 165) 3px 2px 2px;
}

.Tabla3 {
    display: grid;
    align-items: center;
}

.item31 {
    border-radius: 100%;
    width: 105%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 6;
    background: rgb(63, 251, 189);
    background: radial-gradient(circle, rgba(63, 251, 189, 1) 0%, rgba(137, 44, 224, 1) 100%);
}

.item32 {
    border-radius: 100%;
    width: 105%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 4;
    background: rgb(63, 251, 189);
    background: radial-gradient(circle, rgba(63, 251, 189, 1) 0%, rgba(137, 44, 224, 1) 100%);
    grid-column-start: 2;
    grid-row-end: 3;
}

.item33 {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background: rgb(63, 251, 189);
    background: radial-gradient(circle, rgba(63, 251, 189, 1) 0%, rgba(137, 44, 224, 1) 100%);
    grid-column-start: 3;
}

.item34 {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background: rgb(63, 251, 189);
    background: radial-gradient(circle, rgba(63, 251, 189, 1) 0%, rgba(137, 44, 224, 1) 100%);
}

.item35 {
    border-radius: 100%;
    width: 105%;
    height: 100%;
    background: rgb(63, 251, 189);
    background: radial-gradient(circle, rgba(63, 251, 189, 1) 0%, rgba(137, 44, 224, 1) 100%);
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}

.item36 {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background: rgb(63, 251, 189);
    background: radial-gradient(circle, rgba(63, 251, 189, 1) 0%, rgba(137, 44, 224, 1) 100%);
}

.item37 {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background: rgb(63, 251, 189);
    background: radial-gradient(circle, rgba(63, 251, 189, 1) 0%, rgba(137, 44, 224, 1) 100%);
    grid-column-start: 3;
}