body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    margin: 2em;
}
header {
    background-color: gray;
    font-size: 5rem;
    font-weight: bolder;
    position: initial;
}

nav {
    background-color: greenyellow;
    position: absolute;
    left: 70%;
    right: 39px;
    height: 200px;
}

section {
    background-color: blue;
    position: absolute;
    left: 39px;
    right: 30%;
    height: 200px;
    overflow: hidden;
}

article {
    border: dotted rgb(36, 181, 238);
    margin: 2rem;


}

ul{
    color: white;
    margin-left: -1em;
}
p {
    background-color: white;
    font-size: small;
    font-style: oblique;
    margin-bottom: -0.5px;
}
h2 {
    color: blue;
    background-color: white;
    font-size: xx-large;
    margin-top: -0.5px;
}



footer {
    background-color: gray;
    position:relative;
    top: 200px;

}