tr td{
    border: 0.2em inset palevioletred;
    text-align: center;
width: 40px;
}

#t1 {
    border: 1em outset palevioletred;
    background-color: rgb(169, 105, 230);
}

/* .tabla7 {
    border-collapse: separate;
    border-spacing: 0px;
} */