body {
    background-color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flow-root;
}

.container {
    border: 5px solid gray;
    border-style: outset;
    margin: 1em;
}

h1 {
    margin: 2em auto;
    border: 5px dashed black;
    width: 550px;
    text-align: center;
    vertical-align: middle;
    background-color: brown;
    color: white;
}

.ingredientes h2 {
    margin: 0 auto;
    border: 4px dotted brown;
    border-bottom: none;
    background-color: white;
    width: 550px;
    text-align: right;
}

.ingredientes .ulIngredientes {
    list-style-type: square ;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0 auto;
    border: 4px dotted white;
    border-top: none;
    background-color: brown;
    width: 511px;

}


.elaboracion {
    padding-top: 50px;
    padding-bottom: 50px;
}
.elaboracion ol{
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0 auto;
    border: 4px dotted white;
    border-top: none;
    background-color: black;
    width: 511px;
    color: brown;
}

.elaboracion h2 {
    margin: 0 auto;
    border: 4px dotted brown;
    border-bottom: none;
    background-color: white;
    width: 550px;
    text-align: right;
}